@font-face {
  font-family: 'simfang';
  src: url('simfang.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'simkai';
  src: url('simkai.ttf');
  font-weight: normal;
  font-style: normal;
}
